In [1]:
import pandas as pd
import numpy as np

In [2]:
dict_data = {'a':1, 'b': 2, 'c': 3}

In [3]:
sr = pd.Series(dict_data)

In [4]:
print(type(sr))

<class 'pandas.core.series.Series'>

In [5]:
print('\n')

In [6]:
print(sr)

a    1
b    2
c    3
dtype: int64

In [7]:
list_data = ['2019-01-02', 3.14, 'ABC', 100, True]

In [8]:
sr = pd.Series(list_data)

In [9]:
print(sr)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [10]:
idx = sr.index
val = sr.values

In [11]:
print(idx)

RangeIndex(start=0, stop=5, step=1)

In [12]:
print('\n')

In [13]:
print(val)

['2019-01-02' 3.14 'ABC' 100 True]

In [14]:
tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index =['이름', '생년월일', '성별', '학생여부'])

In [15]:
print(sr)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [16]:
print(sr[0])

영인

In [17]:
print(sr['이름'])

영인

In [18]:
print(sr[[1, 2]])

생년월일    2010-05-01
성별               여
dtype: object

In [19]:
print('\n')
print(sr[['생년월일', '성별']])

생년월일    2010-05-01
성별               여
dtype: object

In [20]:
print(sr[1:2])
print('\n')
print(sr['생년월일' : '성별'])

생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

In [21]:
# 데이터프레임