## 2.1. 변수

In [1]:
a = 5
a

5

In [2]:
b = 3
b

3

In [3]:
a + b

8

In [4]:
c = "가나다"
c

'가나다'

In [5]:
radio_freq = 107.9
radio_freq

107.9

### 2.1.2 변수 이름을 붙이는 규칙(1) - 꼭 지켜야 하는 규칙

In [6]:
# 잘못된 변수 이름: 숫자로 시작하는 변수
2var = "행복"

SyntaxError: invalid syntax (<ipython-input-6-3125f101b6fe>, line 2)

In [ ]:
# 잘못된 변수 이름: 공백이 포함된 변수
happy var = "행복"

SyntaxError: invalid syntax (<ipython-input-7-bbdaa12b614b>, line 2)

In [ ]:
# 변수 스타일링
# Camel Case
happyVariable = "행복"
# Snake Case
happy_variable = "행복"

In [ ]:
happyVariable
happy_variable

'행복'

In [ ]:
# Hungarian notation
bHappyVariable=True

In [ ]:
bHappyVariable

True

In [ ]:
# 잘못된 변수 이름: 특수기호(!)가 포함된 변수
happyvar! = "행복"

SyntaxError: invalid syntax (<ipython-input-12-744d9af26856>, line 2)

In [ ]:
# 잘못된 변수 이름: 파이썬 예약어로 만든 변수
def = "행복"

SyntaxError: invalid syntax (<ipython-input-13-7415673cb76f>, line 2)

## 2.1.3 변수 이름을 붙이는 규칙(2) - 에러는 발생하지 않지만 알아 둘어야 하는 규칙

In [ ]:
abc = 5
abc

5

In [ ]:
ABC = "Apple"

In [ ]:
print(abc, ABC)

5 Apple

In [ ]:
ABC = "Apple"
ABC

'Apple'

In [ ]:
x, y, z = "Apple", "Banana", "Carrot"
x

'Apple'

In [ ]:
y

'Banana'

In [ ]:
z

'Carrot'

In [ ]:
_, var = "Not Use", "Use"
_

'Not Use'

In [ ]:
x = y = z = "Dog"
x

'Dog'

In [ ]:
y

'Dog'

In [ ]:
z

'Dog'

## 2.2 자료형(1) - 기본 데이터 타입

In [ ]:
# 숫자형(numeric): 정수(integer), 실수(float)
x, y, z = 10, 3.14, -25
type(x)

int

In [ ]:
type(y)

float

In [ ]:
type(z)

int

In [ ]:
a = 17e3
a

17000.0

In [ ]:
b = 17E3
b

17000.0

In [ ]:
c = -35.2e2
c

-3520.0

In [ ]:
d = 275e-2
d

2.75

In [ ]:
a = 100 > 50
a

True

In [ ]:
b = 100 < 50
b

False

In [ ]:
c = 100 == 50
c

False

In [ ]:
type(c)

bool

In [ ]:
# 따옴표로 감싼 문자, 'Hello'와 "Hello"는 동일
a = 'Hello'
type(a)

str

In [ ]:
# 따옴표로 감싼 숫자는 문자
b = '123'
type(b)

str

In [ ]:
# 띄어쓰기가 포함된 문자열
c = "How are you?"
type(c)

str

In [ ]:
x = "Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky."
x

SyntaxError: EOL while scanning string literal (<ipython-input-39-1ed65e62d316>, line 1)

In [ ]:
x = """Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky."""
x

'Twinkle, twinkle, little star,\nHow I wonder what you are!\nUp above the world so high,\nLike a diamond in the sky.'

In [ ]:
y = "He said, "I love you.""
y

SyntaxError: invalid syntax (<ipython-input-41-4275bbce3138>, line 1)

In [ ]:
y = 'He said, "I love you."'
y

'He said, "I love you."'

In [ ]:
y = "He said, \"I love you.\""
y

'He said, "I love you."'

### 2.2.2 데이터 타입의 형 변환

In [ ]:
temperature = '20'
humidity = '50'
temperature + humidity

'2050'

In [ ]:
int(temperature) + int(humidity)

70

In [ ]:
a = 0
b = 500
c = ''
d = '하하호호'
bool(a)

False

In [ ]:
bool(b)

True

In [ ]:
bool(c)

False

In [ ]:
bool(d)

True

## 2.3 자료형(2) - 컨테이너 타입

In [ ]:
score_1 = 80
score_2 = 90
score_3 = 70
score_4 = 65
score_5 = 100
score_6 = 95
score_7 = 90
score_8 = 80
score_9 = 75
score_10 = 80

In [ ]:
scores = [80, 90, 70, 65, 100, 95, 90, 80, 75, 80]

### 2.3.2 리스트

In [ ]:
fruit_list = ["apple", "banana", "orange"]

In [ ]:
fruit_list = ["apple", "banana", "orange", "apple", "banana"]
fruit_list

['apple', 'banana', 'orange', 'apple', 'banana']

In [ ]:
fruit_list = ["apple", "banana", "orange"]
fruit_list[0]

'apple'

In [ ]:
fruit_list[1]

'banana'

In [ ]:
fruit_list[2]

'orange'

In [ ]:
fruit_list[3]

IndexError: list index out of range

In [ ]:
fruit_list[-1]

'orange'

In [ ]:
fruit_list = ["apple", "banana", "orange"]
len(fruit_list)

3

In [ ]:
fruit_list[-2]

'banana'

In [ ]:
fruit_list[1:3]

['banana', 'orange']

In [ ]:
fruit_list[:3]

['apple', 'banana', 'orange']

In [ ]:
fruit_list[1:]

['banana', 'orange']

In [ ]:
fruit_list[:]

['apple', 'banana', 'orange']

In [ ]:
fruit_list[1] = "kiwi"

In [ ]:
fruit_list

['apple', 'kiwi', 'orange']

In [ ]:
fruit_list[1:3] = ["strawberry", "blueberry"]
fruit_list

['apple', 'strawberry', 'blueberry']

#### 2.3.2.3. 아이템 추가 method => insert(), append(), extend()

In [ ]:
fruit_list.insert(2, "mango")
fruit_list

['apple', 'strawberry', 'mango', 'blueberry']

In [ ]:
fruit_list.insert(4, "watermelon")
fruit_list

['apple', 'strawberry', 'mango', 'blueberry', 'watermelon']

In [ ]:
fruit_list.append("watermelon")
fruit_list

['apple', 'strawberry', 'mango', 'blueberry', 'watermelon', 'watermelon']

In [ ]:
vegetable_list = ["carrot", "tomato", "onion"]
fruit_list.extend(vegetable_list)
fruit_list

['apple',
 'strawberry',
 'mango',
 'blueberry',
 'watermelon',
 'watermelon',
 'carrot',
 'tomato',
 'onion']

In [ ]:
list1 = [1, 2, 3]
list2 = ["가", "나", "다"]
list3 = list1 + list2

In [ ]:
print(list3)

[1, 2, 3, '가', '나', '다']

#### 리스트에서 아이템 삭제
remove()
del
clear()

In [ ]:
fruit_list = ["apple", "tomato", "banana", "orange"]
fruit_list.remove("tomato")
fruit_list

['apple', 'banana', 'orange']

In [ ]:
del fruit_list[-1]
fruit_list

['apple', 'banana']

In [ ]:
del fruit_listfruit_list

NameError: name 'fruit_listfruit_list' is not defined

In [ ]:
fruit_list = ["apple", "banana", "orange"]
fruit_list.clear()
fruit_list
# 리스트의 아이템만 삭제하고 리스트는 삭제하지 않음

[]

#### 2.3.2.5 아이템 정렬
sort() 메소드

In [ ]:
fruit_list = ['strawberry', 'mango', 'blueberry', 'watermelon', "apple", "banana", "orange"]
fruit_list.sort()
fruit_list

['apple', 'banana', 'blueberry', 'mango', 'orange', 'strawberry', 'watermelon']

In [ ]:
fruit_list.sort(reverse = True)
fruit_list

['watermelon', 'strawberry', 'orange', 'mango', 'blueberry', 'banana', 'apple']

### 2.3.3 튜플

In [ ]:
fruit_tuple = ("apple", "banana", "orange")

In [ ]:
fruit_tuple = ("apple", "banana", "orange", "apple", "banana")
fruit_tuple

('apple', 'banana', 'orange', 'apple', 'banana')

#### 2.3.3.2 아이템 선택

In [ ]:
fruit_tuple = ("apple", "banana", "orange")
fruit_tuple[1]

'banana'

In [ ]:
# 아이템 변경 안 됨
fruit_tuple[1] = "kiwi"

TypeError: 'tuple' object does not support item assignment

#### 2.3.3.3 아이템 추가/삭제

In [ ]:
fruit_tuple.append("watermelon")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
fruit_tuple.remove("apple")

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
# 튜플 리스트로 변환
fruite_list = list(fruit_tuple)
# 리스트의 값 편집: 추가 및 삭제
fruite_list.append("watermelon")
fruite_list.remove("apple")
print(fruite_list)

# 리스트를 다시 튜플로 형태 변환
fruit_tuple = tuple(fruite_list)
print(fruit_tuple)

['banana', 'orange', 'watermelon']
('banana', 'orange', 'watermelon')

### 2.3.4 세트

#### 2.3.4.1 세트 형성

In [ ]:
fruit_set = {"apple", "banana", "orange"}
fruit_set

{'apple', 'banana', 'orange'}

In [ ]:
fruit_set = {"apple", "banana", "orange", "apple", "banana"}
fruit_set # 중복 허용하지 않음

{'apple', 'banana', 'orange'}

#### 2.3.4.2 아이템 선택

In [ ]:
# Set 는 순서가 없기 때문에, 특정 아이템을 선택할 수 없음
fruit_set[1]

TypeError: 'set' object is not subscriptable

#### 2.3.4.3 아이템 선택

In [ ]:
fruit_set.add("kiwi")
fruit_set

{'apple', 'banana', 'kiwi', 'orange'}

In [ ]:
vegetable_set = ("carrot", "tomato", "onion")
fruit_set.update(vegetable_set)
fruit_set

{'apple', 'banana', 'carrot', 'kiwi', 'onion', 'orange', 'tomato'}

#### 2.3.4.4 아이템 삭제

In [ ]:
fruit_set.remove("onion")
fruit_set

{'apple', 'banana', 'carrot', 'kiwi', 'orange', 'tomato'}

### 2.3.5 딕셔너리

In [ ]:
my_dict = {
    "name": "Harry",
    "age": 27,
    "height": 190,
    "weight": 99.9 
}
my_dict

{'name': 'Harry', 'age': 27, 'height': 190, 'weight': 99.9}

#### 2.3.5.2 아이템 선택/추가 (인덱싱)

In [ ]:
my_dict.keys()

dict_keys(['name', 'age', 'height', 'weight'])

In [ ]:
my_dict["age"]

27

In [ ]:
my_dict["age"] = 28
my_dict

{'name': 'Harry', 'age': 28, 'height': 190, 'weight': 99.9}

In [ ]:
my_dict.update({"weight": 100})
my_dict

{'name': 'Harry', 'age': 28, 'height': 190, 'weight': 100}

#### 2.3.5.3 아이템 삭제

In [ ]:
my_dict.popitem()

('weight', 100)

In [ ]:
my_dict

{'name': 'Harry', 'age': 28, 'height': 190}

In [ ]:
my_dict.pop("age")

28

In [ ]:
my_dict

{'name': 'Harry', 'height': 190}

In [ ]:
my_dict.clear()
my_dict

{}

## 2.4 조건문

### 2.4.1 커피 추천 프로그램

### 2.4.2 if

In [ ]:
today_temp = 30
if today_temp > 0:
    print("아이스 아메리카노")

아이스 아메리카노

### 2.4.3 else

In [ ]:
today_temp = 30

if today_temp > 0:
    print("아이스 아메리카노")
else:
    print("따뜻한 아메리카노")

아이스 아메리카노

### 2.4.4 elif

In [ ]:
today_temp = 30

if today_temp > 0:
    print("아이스 아메리카노")
elif today_temp == 0:
    print("미지근한 아메리카노")
else:
    print("따뜻한 아메리카노")

아이스 아메리카노

### 2.4.5 이중 if

In [ ]:
weather = "비"
today_temp = 30

if weather == "맑음":
    if 0<today_temp:
        print("아이스 아메리카노")
    elif 0 == today_temp:
        print("미지근한 아메리카노")
    else:
        print("따뜻한 아메리카노")
else:
    print("카푸치노")

카푸치노

### 2.4.6 내 용돈의 운명은?

In [ ]:
### 영어 90점 이상, 수학 90점 이상: 용돈 인상
### 영어 80점 이하, 수학 80점 이하: 용돈 삭감

math_score = 80
eng_score = 100

if eng_score >= 90 and math_score >= 90:
    print("YAY! 용돈 인상")
elif eng_score <= 80 and math_score <= 80:
    print("용돈 삭감 ㅠㅠ")
else:
    print("동결")

동결

## 2.5 반복문

### 2.5.1 for

In [ ]:
scores = [80, 90, 70, 65, 85, 95, 90, 80, 75, 80]
new_scores = []

for s in scores:
    new = s + 5
    new_scores.append(new)

print(new_scores)

[85, 95, 75, 70, 90, 100, 95, 85, 80, 85]

In [ ]:
scores = [80, 90, 70, 65, 95, 100, 90, 80, 75, 80]
new_scores = []

for s in scores:
    if s < 100:
        new = s + 5
    else:
        new = s
    new_scores.append(new)

print(new_scores)

[85, 95, 75, 70, 100, 100, 95, 85, 80, 85]

In [ ]:
new_score2 = [s + 5 if s< 100 else s for s in scores]
new_score2

[85, 95, 75, 70, 100, 100, 95, 85, 80, 85]

### 2.5.2 컴프리헨션

### 2.5.3 while

In [ ]:
scores = [80, 90, 70, 65, 95, 100, 90, 80, 75, 80]
new_score = []
index = 0

while(index < len(scores)):
    if scores[index] < 100:
        new = scores[index] + 5
    else:
        new = scores[index]
    new_score.append(new)
    index = index + 1

print(new_score)

[85, 95, 75, 70, 100, 100, 95, 85, 80, 85]

### 2.5.4 흐름 제어

In [ ]:
time = 0 # 누적 사용 시간
while(True):
    print('현재 사용량: {}'.format(time))
    if(time >= 300):
        print('[사용 중단]하루 사용 권장량에 도달 또는 초과하였습니다.')
        break
    else:
        time = time+50

현재 사용량: 0
현재 사용량: 50
현재 사용량: 100
현재 사용량: 150
현재 사용량: 200
현재 사용량: 250
현재 사용량: 300
[사용 중단]하루 사용 권장량에 도달 또는 초과하였습니다.

In [7]:
time = 0 #누적 사용 시간
while(True):
    print("현재 사용량: {}".format(time))
    if(time < 150):
        print("안전")
    if(time >= 300):
        print("[사용 중단]하루 사용 권장량에 도달 또는 초과하였습니다.")
        break
    else:
        time = time + 50

현재 사용량: 0
안전
현재 사용량: 50
안전
현재 사용량: 100
안전
현재 사용량: 150
현재 사용량: 200
현재 사용량: 250
현재 사용량: 300
[사용 중단]하루 사용 권장량에 도달 또는 초과하였습니다.

In [9]:
time = 0 #누적 사용 시간
while(True):
    print("현재 사용량: {}".format(time))
    if(time < 150):
        pass
    if(time >= 300):
        print("[사용 중단]하루 사용 권장량에 도달 또는 초과하였습니다.")
        break
    else:
        time = time + 50

현재 사용량: 0
현재 사용량: 50
현재 사용량: 100
현재 사용량: 150
현재 사용량: 200
현재 사용량: 250
현재 사용량: 300
[사용 중단]하루 사용 권장량에 도달 또는 초과하였습니다.

### 2.5.5 반복문 연습문제

In [10]:
shopping_dict = {"주문번호": 123, 
"주문자": "김**",
"주소": "서울 마포구 상암동",
"주문항목": ["맛 좋은 김치", "맛좋은 라면", "시원한 물"]}

for item in shopping_dict:
    print(item)

주문번호
주문자
주소
주문항목

In [11]:
for item in shopping_dict.items():
    print(item)

('주문번호', 123)
('주문자', '김**')
('주소', '서울 마포구 상암동')
('주문항목', ['맛 좋은 김치', '맛좋은 라면', '시원한 물'])

In [12]:
for key, value in shopping_dict.items():
    print(key)
    print(value)
    print('-----')

주문번호
123
-----
주문자
김**
-----
주소
서울 마포구 상암동
-----
주문항목
['맛 좋은 김치', '맛좋은 라면', '시원한 물']
-----

In [15]:
menu = {'고구마': 200, '떡볶이': 600, '라면': 800}
for key, value in menu.items():
    if(value > 500):
        print("{}:X".format(key))
    else:
        print("{}:O".format(key))

고구마:O
떡볶이:X
라면:X

In [16]:
lyric = """산토끼 토끼야. 어디를 가느냐. 깡충깡충 뛰면서. 어디를 가느냐. 산 고개 고개를. 나 혼자 넘어서. 토실토실 알밤을. 주워 올 테야."""

count = 0
for l in lyric:
    if(l == "토"):
        count = count + 1
print(count)

4

In [17]:
range(9)

range(0, 9)

In [18]:
for num in range(9):
    print(num)

0
1
2
3
4
5
6
7
8

In [19]:
for num in range(9):
    print("3 * {} = {}".format(num + 1, (num+1) * 3))

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [20]:
bookmark = 0
for day in range(20):
    print("[{}일차 공부계획]".format(day+1))
    for s in range(5):
        print(" {}쪽 공부".format(bookmark+s+1))
    bookmark = bookmark + s + 1

[1일차 공부계획]
 1쪽 공부
 2쪽 공부
 3쪽 공부
 4쪽 공부
 5쪽 공부
[2일차 공부계획]
 6쪽 공부
 7쪽 공부
 8쪽 공부
 9쪽 공부
 10쪽 공부
[3일차 공부계획]
 11쪽 공부
 12쪽 공부
 13쪽 공부
 14쪽 공부
 15쪽 공부
[4일차 공부계획]
 16쪽 공부
 17쪽 공부
 18쪽 공부
 19쪽 공부
 20쪽 공부
[5일차 공부계획]
 21쪽 공부
 22쪽 공부
 23쪽 공부
 24쪽 공부
 25쪽 공부
[6일차 공부계획]
 26쪽 공부
 27쪽 공부
 28쪽 공부
 29쪽 공부
 30쪽 공부
[7일차 공부계획]
 31쪽 공부
 32쪽 공부
 33쪽 공부
 34쪽 공부
 35쪽 공부
[8일차 공부계획]
 36쪽 공부
 37쪽 공부
 38쪽 공부
 39쪽 공부
 40쪽 공부
[9일차 공부계획]
 41쪽 공부
 42쪽 공부
 43쪽 공부
 44쪽 공부
 45쪽 공부
[10일차 공부계획]
 46쪽 공부
 47쪽 공부
 48쪽 공부
 49쪽 공부
 50쪽 공부
[11일차 공부계획]
 51쪽 공부
 52쪽 공부
 53쪽 공부
 54쪽 공부
 55쪽 공부
[12일차 공부계획]
 56쪽 공부
 57쪽 공부
 58쪽 공부
 59쪽 공부
 60쪽 공부
[13일차 공부계획]
 61쪽 공부
 62쪽 공부
 63쪽 공부
 64쪽 공부
 65쪽 공부
[14일차 공부계획]
 66쪽 공부
 67쪽 공부
 68쪽 공부
 69쪽 공부
 70쪽 공부
[15일차 공부계획]
 71쪽 공부
 72쪽 공부
 73쪽 공부
 74쪽 공부
 75쪽 공부
[16일차 공부계획]
 76쪽 공부
 77쪽 공부
 78쪽 공부
 79쪽 공부
 80쪽 공부
[17일차 공부계획]
 81쪽 공부
 82쪽 공부
 83쪽 공부
 84쪽 공부
 85쪽 공부
[18일차 공부계획]
 86쪽 공부
 87쪽 공부
 88쪽 공부
 89쪽 공부
 90쪽 공부
[19일차 공부계획]
 91쪽 공부
 92쪽 공부
 93쪽 공부
 94쪽 공부
 95쪽 공부
[20일차 공부계획]
 96쪽 공부
 97쪽 공부
 98쪽 공부
 99쪽 공부
 100쪽 공부