## 2.1. 변수

In [1]:
a = 5
a

5

In [2]:
b = 3
b

3

In [3]:
a + b

8

In [5]:
c = "가나다"
c

'가나다'

In [6]:
radio_freq = 107.9
radio_freq

107.9

### 2.1.2 변수 이름을 붙이는 규칙(1) - 꼭 지켜야 하는 규칙

In [7]:
# 잘못된 변수 이름: 숫자로 시작하는 변수
2var = "행복"

SyntaxError: invalid syntax (<ipython-input-7-3125f101b6fe>, line 2)

In [8]:
# 잘못된 변수 이름: 공백이 포함된 변수
happy var = "행복"

SyntaxError: invalid syntax (<ipython-input-8-bbdaa12b614b>, line 2)

In [9]:
# 변수 스타일링
# Camel Case
happyVariable = "행복"
# Snake Case
happy_variable = "행복"

In [10]:
happyVariable
happy_variable

'행복'

In [11]:
# Hungarian notation
bHappyVariable=True

In [12]:
bHappyVariable

True

In [13]:
# 잘못된 변수 이름: 특수기호(!)가 포함된 변수
happyvar! = "행복"

SyntaxError: invalid syntax (<ipython-input-13-744d9af26856>, line 2)

In [14]:
# 잘못된 변수 이름: 파이썬 예약어로 만든 변수
def = "행복"

SyntaxError: invalid syntax (<ipython-input-14-7415673cb76f>, line 2)

## 2.1.3 변수 이름을 붙이는 규칙(2) - 에러는 발생하지 않지만 알아 둘어야 하는 규칙

In [15]:
abc = 5
abc

5

In [16]:
ABC = "Apple"

In [20]:
print(abc, ABC)

5 Apple

In [21]:
ABC = "Apple"
ABC

'Apple'

In [22]:
x, y, z = "Apple", "Banana", "Carrot"
x

'Apple'

In [23]:
y

'Banana'

In [24]:
z

'Carrot'

In [25]:
_, var = "Not Use", "Use"
_

'Not Use'

In [27]:
x = y = z = "Dog"
x

'Dog'

In [28]:
y

'Dog'

In [29]:
z

'Dog'

## 2.2 자료형(1) - 기본 데이터 타입

In [30]:
# 숫자형(numeric): 정수(integer), 실수(float)
x, y, z = 10, 3.14, -25
type(x)

int

In [31]:
type(y)

float

In [32]:
type(z)

int

In [33]:
a = 17e3
a

17000.0

In [34]:
b = 17E3
b

17000.0

In [35]:
c = -35.2e2
c

-3520.0

In [36]:
d = 275e-2
d

2.75

In [38]:
a = 100 > 50
a

True

In [39]:
b = 100 < 50
b

False

In [40]:
c = 100 == 50
c

False

In [41]:
type(c)

bool

In [42]:
# 따옴표로 감싼 문자, 'Hello'와 "Hello"는 동일
a = 'Hello'
type(a)

str

In [43]:
# 따옴표로 감싼 숫자는 문자
b = '123'
type(b)

str

In [44]:
# 띄어쓰기가 포함된 문자열
c = "How are you?"
type(c)

str

In [45]:
x = "Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky."
x

SyntaxError: EOL while scanning string literal (<ipython-input-45-1ed65e62d316>, line 1)

In [46]:
x = """Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky."""
x

'Twinkle, twinkle, little star,\nHow I wonder what you are!\nUp above the world so high,\nLike a diamond in the sky.'

In [47]:
y = "He said, "I love you.""
y

SyntaxError: invalid syntax (<ipython-input-47-4275bbce3138>, line 1)

In [48]:
y = 'He said, "I love you."'
y

'He said, "I love you."'

In [49]:
y = "He said, \"I love you.\""
y

'He said, "I love you."'

### 2.2.2 데이터 타입의 형 변환

In [50]:
temperature = '20'
humidity = '50'
temperature + humidity

'2050'

In [51]:
int(temperature) + int(humidity)

70

In [52]:
a = 0
b = 500
c = ''
d = '하하호호'
bool(a)

False

In [53]:
bool(b)

True

In [54]:
bool(c)

False

In [55]:
bool(d)

True

## 2.3 자료형(2) - 컨테이너 타입

In [56]:
score_1 = 80
score_2 = 90
score_3 = 70
score_4 = 65
score_5 = 100
score_6 = 95
score_7 = 90
score_8 = 80
score_9 = 75
score_10 = 80

In [58]:
scores = [80, 90, 70, 65, 100, 95, 90, 80, 75, 80]

### 2.3.2 리스트

In [59]:
fruit_list = ["apple", "banana", "orange"]

In [60]:
fruit_list = ["apple", "banana", "orange", "apple", "banana"]
fruit_list

['apple', 'banana', 'orange', 'apple', 'banana']